body {
    background-image: url("../donkeyTrivia.jpg");
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    max-width: 27%;
}

main {
    font-size:18px;

}



  
